@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --font1:Verdana, 'Geneva', Tahoma, sans-serif;
    --font2:'Sriracha', 'cursive';
    --font3:'Passion One', 'cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

html body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration:none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3.7vw;
}

section.normal {
    background-color: white;
}

section.normal > p {
    margin-bottom: 20px;
}

section.imagem {
    background-color: rgb(116, 116, 116);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.445);
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.397);
}

section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}

section#img02{
   background-image: url('../imagens/background002.jpg'); 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
}